/* style.css */

.beng, 
.two {

    background-color: #ea6f6b;
    font-family: Verdana, "Dejavu Sans", sans-serif;

}

.two {

    font-size: 36px;
}


#hest {

    color: blue;
    font-size: 36px;

}

#hund {

    background-color: #7deb7b;
    font-size: 24px;
    font-weight: bold;
    
}